{{!-- The big featured header --}}
<aside class="cover">
   <div class="cover-image" style="background-image:{{#if image}} url({{image}})
            {{else if tag.image}} url({{tag.image}})
            {{else}}url({{@blog.cover}}){{/if}}; background-size: cover; background-position: center center"></div>
    <div class="cover-wrapper">
        <div class="main-header-content">
            <h1 class="page-title">{{@blog.title}} </h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
        <nav>
            <div class="nav-buttons">
            <div class="button" title="Home">
                <a href="{{@blog.url}}"><span class="fa fa-home"></span></a>
            </div>
            <div class="button" title="Projects">
                <a href="{{@blog.url}}/projects"><span class="fa fa-cogs"></span></a>
            </div>
            <div class="button" title="GitHub">
                <a href="https://github.com/ktbee"><span class="fa fa-github"></span></a>
            </div>
            <div class="button" title="RSS feed">
                <a href="/rss"><span class="fa fa-rss"></span></a>
            </div>
        </nav>
    </div>
</aside>
